.bg_block{
    background-color: #2A2A2A;
    width: 100%;
    padding: 30px 0px;
    min-height: 100vh;
    display: block;
}
.block_container{
    margin:  auto;
    padding: 30px;
    background-color: #EDEEF0;
    width: 960px;
    position: relative;
}
h3.title_word{
    margin-left: 70px;
}
.payment_choose_area{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 80px;
}
#card_area{
    margin-top: 10px;
    padding-top: 10px;
    border-top-style: solid;
    border-top-color: lightgray;
}
#atm_area{
    margin-top: 10px;
    padding-top: 10px;
    border-top-style: solid;
    border-top-color: lightgray;
    display: none
}
.radio_img{
    width: 150px;
    height: 100px;
    padding: 15px;
}
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + .radio_img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + .radio_img {
  outline: 2px solid black;
}
.
.input_row{
    width: 100%;
    display: flex;
}
.input_title_word{
    float: left;
    width: 230px;
    text-align: right;
    padding-right: 10px;
}
.input_sq{
    width: 400px;
    height: 30px;
    border-color: black;
    margin-top: 1px;
    padding: 5px;
}
.input_sq:focus{
    background-color: #EDEEF0;
}
.input_sq_m_n{
    width: 192.5px;
    height: 30px;
    border-color: black;
    padding: 5px;
    margin: 2px 10px 0px 0px;
}
.input_sq_m:focus{
    background-color: #EDEEF0;
}
.little_w{
    display: inline-block;
    font-size: 20px;
    margin: 0px 5px 0px 5px;
}
.submit_row{
    text-align: right;
}
.submit_btn{
    background-color: none;
    border-style: solid;
    border-color: black;
    padding: 5px 15px;
    margin-right: 70px;
}
.submit_btn:hover{
    background-color: #2A2A2A;
    color: #C2AB92;
}