/*ENGLISH SERIF FONT */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

.bg_area{
    background-color: #0A0A0A;
    min-height: 100%;
    height: 100%;
    display: flex;
}
.bg_img{
    margin: auto;
    display: block;
    position: relative;
    width: 824px;
    height: 563px;
}
.helf1{
    width: 50%;
    height: 100%;
    color: #C2AB92;
    z-index: 2;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
}
.helf2{
    width: 50%;
    height: 100%;
    color: #C2AB92;
    z-index: 2;
    float: left;
    position: absolute;
    top: 0px;
    right: 0px;
}
.word_area{
    position: absolute;
    font-size: 30px;
    top: 200px;
    left: 100px;
}
.upword{
    font-family: 'Lora', serif;
}
.downword{
    margin-left: 100px;
    font-family: 'Lora', serif;
}
.ballon01,.ballon02,.ballon03,.ballon04,.ballon05{
    width: 100px;
    height: 111px;
    background-image: url(../images/page_element/ballon.png);
    background-size: cover;
}
.ballon01{
    position: absolute;
    top:100px;
}
.ballon02{
    position: absolute;
    top:100px;
    right: 80px;
}
.ballon03{
    position: absolute;
    top:230px;
    right: 190px;
}
.ballon04{
    position: absolute;
    top:360px;
}
.ballon05{
    position: absolute;
    top:360px;
    right: 80px;
}
.ballon_locate,.ballon_locate:hover,.ballon_locate:visited{
    text-align: center;
    display: block;
    padding: 28px 0px;
    color: #000000;
    text-decoration: none;
    text-shadow:2px 2px 3px #434a54;
    font-size:18px;
    font-weight:bolder;
    
}