.bg_block{
    background-color: #2A2A2A;
    width: 100%;
    padding: 30px 0px;
    min-height: 100%;
}
.block_container{
    margin:  auto;
    padding: 30px;
    background-color: #EDEEF0;
    width: 960px;
}
.block_title{
    font-size: 35px;
}
.block_row{
    width: 100%;
}
.block_admin_info_title{
    float: left;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 30px;
}
.block_admin_info{
    float: left;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 30px;
    max-width: 560px;
}
.order_number{
    float: left;
}
.order_date{
    float: right;
}
.order_line{
    background-color: black;
    height: 1px;
}
.order_img{
    width: 200px;
    height: 200px;
    float: left;
}
.order_r_sq{
    display:inline-block;
}
.order_total{
    font-size: 35px;
    text-align: right;
}
.back_btn{
    color: black;
    font-size: 20px;
    border-style: none;
    float: left;`
}
.back_btn:hover{
    margin-left: -5px;
}
.block_info_msg_btn{
    cursor: pointer;
    margin: 0px 30px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    padding: 10px 40px;
    font-size: 15px;
    color: #C2AB92;
    background-color: #121013;
}
.active, .block_info_msg_btn:hover .block_info_msg_smt:hover {
    background-color: #2A2A2A;
}
.panel {
    margin-left: 30px;
    margin-top: 10px;
    padding: 0px 0px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}
.block_info_msg_te{
    padding: 10px;
    width: 400px;
    height: 100px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    font-size: 15px;
    resize: none;
}
.block_info_msg_smt{
    border: none;
    display: block;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    padding: 10px 40px;
    font-size: 15px;
    color: #C2AB92;
    background-color: #121013;
    margin-left: 290px;
}
.star_title{
    float: left;
    margin: 5px 0px;
}
select[name=star]{
    width: 100px;
    margin: 5px 10px;; 
}